<h1>This is the posts/show view</h1>

<div>
  <%= link_to "Edit account", edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path %>  
</div>

<div class="post-container post-show">
  <div class="container">
    <h2 class="post-title">Post <%= @post.title %> by: <%= @user.name %></h2>
    <div class="comments-likes">
      <p class="counters">Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
    </div>
  </div>
  <p class="post"><%= @post.text %></p>
</div>

<div class="comments-container">
  <% @comments.each do |comment| %>
    <div class="comments">
      <span><%= comment.author.name %>: </span>
      <span><%= comment.text %></span>
    </div>
    <% if can? :destroy, comment %>
      <%= button_to "Delete", user_post_comment_path(comment.author.id, @post.id,comment), :method => :delete, class: "delete-button" %>
    <% end %>
  <% end %>
</div>

<%= form_with url: "/users/#{@user.id}/posts/#{@post.id}/likes", class: 'comments_counter' do |like| %>
  <%= like.submit "Like Post", class: "button like_button"%>
<% end %>

<div class="button-container">
  <button class="button new-post">
    <%= link_to "New Comment", new_user_post_comment_path(@user.id, @post.id), {:class => "link-class"} %>
  </button>
</div>