<h1>This is the posts/show view</h1>

<div class="post-container post-show">
  <div class="container">
    <h2 class="post-title">Post <%= @post.title %> by: <%= @user.name %></h2>
    <div class="comments-likes">
      <p class="counters">Comments <%= @post.comments_counter %>, Likes <%= @post.likes_counter %></p>
    </div>
  </div>
  <p class="post"><%= @post.text %></p>
</div>

<div class="comments-container">
  <% @comments.each do |comment| %>
    <div class="comments">
      <span><%= comment.author.name %>: </span>
      <span><%= comment.text %></span>
    </div>
  <% end %>
</div>
